body{
    margin:0;
    background-color: #0a97b0;
    color: #fce8d5;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    animation-name: backcolor;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes backcolor {
    from {background-color: #1b6ca8 ;}
    to {background-color: #0a97b0;}
}

header{
    width: 100%;
    height: 80px;
    background-color: #1b6ca8;
    font-family: 'Noto Sans JP', sans-serif;
}    

header div{
    padding: 17px 30px;
    font-size: 40px;
    color: #ffd3e1;
    font-weight: normal;
}

.navigator{
    display: flex;
    justify-content: flex-end;
    background-color: #1b6ca8;
}

.material-icons.md-36{
    font-size: 36px;
    vertical-align: bottom;
}

.navigator__idmenu{
    margin: 5px 30px 5px 5px;
    font-size: 17px;
    padding: 17px 5px;
    vertical-align: middle;
}

.navigator ul{
    background-color: #1b6ca8;
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
}

.navigator__idmenu:hover ul, ul:hover {
    display: block; 
}

.navigator__idmenu li{
    width: 200px;
    margin: 10px 0px;
    padding-right: 0px;
}

.navigator__idmenu li a{
    margin-left: 5px;
    text-decoration: none;
    color: #fce8d5;
}

.navigator__idmenu li:hover {
    background-color: #3789c9;
}

